# Ignore node_modules for both apps and shared
mobile-app/node_modules/
web-app/node_modules/
shared/node_modules/

# Ignore build artifacts
web-app/build/
mobile-app/build/

# Ignore logs
*.log

# Environment variable files
web-app/.env
shared/.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments in any project folder
venv/
ENV/
env/
.venv/
pip-wheel-metadata/
shared/venv/
web-app/venv/
mobile-app/venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# IDE settings (VSCode, PyCharm, etc.)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Anaconda
.conda
*.conda
*.ipynb

# Miscellaneous
*.log
*.pot
*.mo

# macOS
.DS_Store

# Credentials folder inside of shared/UploadImage-Backend
shared/UploadImage-Backend/credentials/

